.user-review-master-div {
    display: flex;
    margin-top: 17vh;
    width: 100%;
    overflow-wrap: break-word;
}

.user-spot-review-data-div {
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 500px;
    border: lightgray 1px solid;
    border-radius: 15px;
    overflow: hidden;
    margin: 0px 10px 10px;
}

.data-chunk {
    padding: 5px;
}

.user-review-delete-but {
    background-color: #DC0F62;
    border: 0px;
    border-radius: 15px;
    margin: 5px;
}