.all-spots-home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.home-spots {
    display: flex;
    cursor: pointer;
    width: 20%;
    /* height: 10%; */
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    background-color: antiquewhite;
    flex-direction: column-reverse;
    align-items: baseline;
}

.home-spots-info-div {
    display: flex;
    flex-direction: column;
}

.home-preview-img {
    max-width: 100%;
    max-height: 275px;
}

.single-spot-img {
    width: 50%;
}