/* TODO Add site wide styles */
body {
    background-color: white;
    font-family: sans-serif;
}

button {
    font-family: sans-serif;
}

button:hover {
    cursor: pointer;
}

/* button {
    border: 0px;
    background-color: transparent;
    border-radius: 5px;
}

*/