.top-nav-bar {
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-bottom: 1px lightgray solid;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-options-div {
    display: flex;
    width: 100%;
    max-width: 250px;
    justify-content: space-between;
    align-items: center;
}

.BnB-title {
    display: flex;
    align-items: center;
    font-size: x-large;
    cursor: pointer;
}

.profile-button-div {
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-button {
    background-color: white;
    margin-right: 50px;
    border: 1px lightgray solid;
    border-radius: 30px;
    overflow: hidden;
}

.profile-button-actual {
    background-color: white;
    border: 0px;
}

.create-spot-button {
    background-color: white;
    border: 0px;
    width: 100%;
    padding: 0px;
}

/* .BnB-title:hover {} */

.mogus-icon {
    margin: 5px;
    width: 70px;
    /* height: 50px; */
}

.profile-dropdown {
    width: 150px;
    height: fit-content;
    margin-top: 35px;
    margin-right: 100px;
    position: absolute;
    background-color: white;
    border: lightgray 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.dropdown-info {
    padding: 20px;
}

.open-modal-button.Create.Spot {
    padding: 20px;
}

.open-modal-button.Create.Spot:hover {
    background-color: lightgray;
    cursor: pointer;
}

.dropdown-info:hover {
    background-color: lightgray;
    cursor: pointer;
}

.hidden {
    display: none;
}