.top-nav-bar {
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-bottom: 1px lightgray solid;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 100,
        'GRAD' 0,
        'opsz' 48;
    background-color: green;
} */


.BnB-title {
    display: flex;
    align-items: center;
    font-size: x-large;
    cursor: pointer;
}

.profile-button-div {
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-button {
    background-color: white;
    margin-right: 20px;
    border: 1px lightgray solid;
    border-radius: 30px;
    overflow: hidden;
}

/* .BnB-title:hover {} */

.mogus-icon {
    margin: 5px;
    width: 70px;
    /* height: 50px; */
}

.profile-dropdown {
    width: 150px;
    height: fit-content;
    margin-top: 35px;
    margin-right: 100px;
    position: absolute;
    background-color: white;
    border: lightgray 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dropdown-info {
    margin: 20px;
}

.hidden {
    display: none;
}