.top-nav-bar {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: darkgray;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.BnB-title {
    display: flex;
    align-items: center;
    font-size: x-large;
    cursor: pointer;
}

/* .BnB-title:hover {} */

.mogus-icon {
    margin: 5px;
    width: 70px;
    /* height: 50px; */
}

.hidden {
    display: none;
}